<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d %-5p %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/tafLog.log">
            <PatternLayout>
                <Pattern>%d %p %c{2} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </appenders>
    <loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </loggers>
</Configuration>